.slick-slider:first-child {

    .slick-list {
        .slick-track {
            .slick-slide {

                div {
                    width: 100% !important;
                    height: auto;
                    padding: 30px;

                    img {
                        width: 100% !important;
                        height: auto;
                    }
                }
            }
        }
    }


}

.slick-slider:last-child {
    margin-top: 30px;
    display: flex;
    align-items: center;

    .slick-next:before,
    .slick-prev:before {
        color: black;
        border: 1px solid black;
        background-color: white;
    }

    .slick-list {
        .slick-track {
            .slick-slide {
                margin: 0px 3px;
                width: 150px !important;

                div {
                    width: 100% !important;
                    height: auto;

                    img {
                        width: 100% !important;
                        height: auto;
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 800px) {
    .slick-slider:first-child {

        .slick-list {
            .slick-track {
                .slick-slide {

                    div {
                        width: 100% !important;
                        height: auto;
                        padding: 30px;

                        img {
                            width: 100% !important;
                            height: auto;
                        }
                    }
                }
            }
        }


    }

    .slick-slider:last-child {
        margin-top: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .slick-next:before,
        .slick-prev:before {
            color: black;
            border: 1px solid black;
            background-color: white;
        }

        .slick-list {
            .slick-track {
                .slick-slide {
                    margin: 0px 3px;
                    width: 150px !important;

                    div {
                        width: 100% !important;
                        height: auto;

                        img {
                            width: 100% !important;
                            height: auto;
                        }
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 500px) {
    .slick-slider:first-child {

        .slick-list {
            .slick-track {
                .slick-slide {

                    div {
                        width: 100% !important;
                        height: auto;
                        padding: 30px;

                        img {
                            width: 100% !important;
                            height: auto;
                        }
                    }
                }
            }
        }


    }

    .slick-slider:last-child {
        margin-top: 30px;
        display: flex;
        align-items: center;


        .slick-next:before,
        .slick-prev:before {
            color: black;
            border: 1px solid black;
            background-color: white;
        }

        .slick-list {
            width: 100%;

            .slick-track {
                width: 100%;

                .slick-slide {
                    margin: 0px 3px;
                    width: 15% !important;

                    div {
                        width: 100% !important;
                        height: auto;

                        img {
                            width: 100% !important;
                            height: auto;
                        }
                    }
                }
            }
        }


    }
}