* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.nav1 {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav1 ul {
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.nav1 li {
  height: 50px;
}

.nav1 a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(250, 213, 213);
}

.nav1 a:hover {
  background-color: #fff;
}

.nav1 .main .upper {
  background-color: #fff;
  color: black;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  left: 0;
}

.nav1 .main .upper ul {
  width: 100%;
}

/* nav .main .down {
  background-color: black;
  color: #fff;
  width: 100%;
} */

.nav1 .main .upper ul li:first-child {
  margin-right: auto;
}

/* nav .main .down ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

nav .main .down ul li {
  margin: 0px 5px;

  width: 230px;
  font-size: 12px;
} */


.sidebar-right {
  position: fixed;
  right: 0;
  top: 50px;
  height: 350px;
  width: 200px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

/* .sidebar-left {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
} */

/* .sidebar {
  display: none;
} */

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}



@media(max-width: 800px) {
  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .leftSidebar {
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 99;
    flex-direction: column;
    background-color: #fff;

  }

  select {
    font-size: 50px;
  }

  .hideOnMobile {
    display: none;
  }

  .main .menu-button.left {
    display: flex;
    position: absolute;
    left: 0;
    margin-right: auto;
  }

  .main .menu-button.right {
    display: flex;
  }
}

@media(max-width: 400px) {
  .sidebar-right {
    width: 100%;
  }
}